body{
    background-image: url('4-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    background: rgb(91, 106, 243);
}

td{
    border: 2px solid rgb(254, 252, 253);
    padding: 10px 50px;
}

input[type="text"],input[type="number"]{
    width: 100%;
}

button, input[type="submit"]{
    background: rgb(241, 238, 238);
    padding: 6px 15 px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover, input[type="submit"]:hover{
    background: #f5f7f8;
}